.img_position {
    position: absolute;
    top: 10vh;
    left: 40vw;
    z-index: 0;
}

.subhead_position {
    position: relative;
    top: 25vh;
    left: 10vw;
    z-index: 2;
}

.spreadhead_position {
    position: absolute; 
    left: 5vw;
    z-index: 1;
}

.text_position {
    position: relative;
    top: 25vh;
    left: 10vw;
    z-index: 1;
}

.footing_position {
    position: relative;
    top: -10vh;
    left: 65vw;
    z-index: 2;
}

.loading_character_img_position{
    position: absolute;
    top: 20vh;
    left: 10vw;
}