.text {
    margin: 0 auto;
    width: 100px; 
}

.img_effect {
    overflow: hidden;
    animation: spin 30s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.spreadhead_effect {
    color: white;
    background: transparent;
    text-shadow:
        -1px -1px 1px rgba(0, 0, 0, 0.5),
        1px 1px 1px rgba(0, 0, 0, 0.5),
        2px 2px 2px rgba(0, 0, 0, 0.5),
        3px 3px 3px rgba(0, 0, 0, 0.5);
    font-family: 'SpreadHeadFont';
    font-size: 20vh;
    padding: 5px; /* 内边距 */
    white-space: nowrap; /* 防止文本换行 */
}

.subhead_effect {
    width: 50vw;
    height: 50vh;
    color: white;
    background: transparent;
    text-shadow:
        -1px -1px 1px rgba(0, 0, 0, 0.5),
        1px 1px 1px rgba(0, 0, 0, 0.5),
        2px 2px 2px rgba(0, 0, 0, 0.5),
        3px 3px 3px rgba(0, 0, 0, 0.5);
    font-family: 'SubHeadFont';
    font-size: 7vh;
    white-space: nowrap; /* 防止文本换行 */
}

.head_hover_effect {
    text-decoration: none;
    cursor: pointer;
}

.head_hover_effect:hover {
    text-decoration: underline white 3px;
    animation: highlight 0.5s ease forwards; /* 动画效果 */
}

.text_effect {
    width: 80vw;
    height: 70vh;
    color: white;
    background: transparent;
    text-shadow:
        -1px -1px 1px rgba(0, 0, 0, 0.5),
        1px 1px 1px rgba(0, 0, 0, 0.5),
        2px 2px 2px rgba(0, 0, 0, 0.5),
        3px 3px 3px rgba(0, 0, 0, 0.5);
    font-family: 'TextFont';
    font-size: 2.2vw;
}

.text_link_effect {
    text-decoration: underline white 3px;
    color: white;
    cursor: pointer;
}

.text_link_effect:hover {
    animation: highlight 0.5s ease forwards; /* 动画效果 */
}

.button_effect_small {
    font-size: 1.5vw;
    color: white;
    font-family: 'TextFont';
    background: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.button_effect_small:hover {
    animation: highlight 0.5s ease forwards; /* 动画效果 */
}

.yellow {
    color: yellow;
}

.button_effect_middle {
    font-size: 2.5vw;
    color: white;
    font-family: 'TextFont';
    background: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.button_effect_middle:hover {
    animation: highlight 0.5s ease forwards; /* 动画效果 */
}

@keyframes highlight {
    0%, 100% {
      background-size: 0 0;
      opacity: 0.5;
    }
    50% {
      background-size: 200% 200%;
      opacity: 1;
    }
  }

@font-face {
    font-family: 'SpreadHeadFont';
    src: url('../other_dependency/YouSheBiaoTiHei.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SubHeadFont';
    src: url('../other_dependency/SrcMingItal-VF.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TextFont';
    src: url('../other_dependency/LXGWHeartSerifCHS-2.ttf');
    font-weight: normal;
    font-style: normal;
}