.img_effect {
    animation: spin 30s linear infinite;
}

.img_link {
    cursor: pointer;
    width: 15vh;
    height: 15vh;
    transition: transform 0.6s ease, box-shadow 0.3s ease;
    z-index: 1;
}

.img_link:hover {
    transform: scale(1.1);
    box-shadow: 5px 5px 15px rgba(170, 208, 245, 0.5);
}

.background_img_effect {
    opacity: 0.2;
    height: 80vw;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.head_effect {
    color: white;
    text-shadow:
        -1px -1px 1px rgba(0, 0, 0, 0.5),
        1px 1px 1px rgba(0, 0, 0, 0.5),
        2px 2px 2px rgba(0, 0, 0, 0.5),
        3px 3px 3px rgba(0, 0, 0, 0.5);
    font-family: 'SubHeadFont';
    font-size: 7vh;
    white-space: nowrap; /* 防止文本换行 */
}

.head_hover_effect {
    white-space: nowrap;
    text-decoration: none;
    cursor: pointer;
}

.head_hover_effect:hover, .text_link_effect:hover {
    text-decoration: underline white 3px;
    animation: highlight 0.5s ease forwards; /* 动画效果 */
}

.text_effect {
    color: white;
    text-shadow:
        -1px -1px 1px rgba(0, 0, 0, 0.5),
        1px 1px 1px rgba(0, 0, 0, 0.5),
        2px 2px 2px rgba(0, 0, 0, 0.5),
        3px 3px 3px rgba(0, 0, 0, 0.5);
    font-family: 'TextFont';/*'黑体';*/
    font-size: 2.2vw;
    z-index: 1;
}

.text_effect h6, .head_effect h6 {
    color: white;
    background: transparent;
    text-shadow:
        -1px -1px 1px rgba(0, 0, 0, 0.5),
        1px 1px 1px rgba(0, 0, 0, 0.5),
        2px 2px 2px rgba(0, 0, 0, 0.5),
        3px 3px 3px rgba(0, 0, 0, 0.5);
    font-family: 'SpreadHeadFont';
    font-size: 10vw;
    padding: 5px; /* 内边距 */
    white-space: nowrap; /* 防止文本换行 */
    z-index: 2;
}

.text_effect p , .p{
    background: rgba(255, 255, 255, 0.05);
    padding: 5px;
    box-shadow: 0 0 15px 3px rgba(0, 0, 0, 0.5), 0 0 40px 6px rgba(0, 0, 0, 0.1);
}

.text_link_effect {
    text-decoration: underline white 3px;
    color: white;
    cursor: pointer;
}

.button_effect_small, .button_effect_middle, .button_effect_large {
    color: white;
    font-family: 'TextFont';
    background: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.button_effect_small:hover, .button_effect_middle:hover, .button_effect_large:hover {
    animation: highlight 0.5s ease forwards; /* 动画效果 */
}

.button_effect_small {
    font-size: 1.5vw;
}
.button_effect_middle {
    font-size: 1.8vw;
}
.button_effect_large {
    font-size: 2.5vw;
}

.yellow {
    color: yellow;
}

.left_top{
    vertical-align: top;
}

@keyframes highlight {
    0%, 100% {
        background-size: 0 0;
        opacity: 0.5;
    }
    50% {
        background-size: 200% 200%;
        opacity: 1;
    }
}

@font-face {
    font-family: 'SpreadHeadFont';
    src: url('../other_dependency/YouSheBiaoTiHei.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SubHeadFont';
    src: url('../other_dependency/SrcMingItal-VF.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TextFont';
    src: url('../other_dependency/LXGWHeartSerifCHS-2.ttf');
    font-weight: normal;
    font-style: normal;
}

table {
    width: 100%;
    height: 100%;
}

.bottom-image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 0px; /* 预定义的图片容器高度 */
}

.bottom-image-container img {
    width: auto;
    height: auto;
    max-width: 100%;
}